@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins selection:bg-green-300;
  }
}

.item-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Edge */
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gradient {
  background: linear-gradient(to right, #f00, #0f0, #00f);
}
